extends ../../base

mixin js-value(name, value)
    -// TODO: move this mixin into a global pug file (maybe `base.pug`? or a mixins helper file?)
    input.js-value(type="hidden" name=name value=JSON.stringify(value))

block content
    main.main
        .card-container(data-controller="CreateTaskChooseSentenceController")
            h2.heading-secondary Set tasks
            form.card.card__create-task-chosen
                
                div.grid.grid-top
                    div.task-name
                        label.form__label Task name
                        input.form__input.task-details(name='name' required placeholder='Task name')
                    div.due-date
                        label.form__label Due date
                        input.task-details(type='date' name='dueDate' required)
                    div.select-class
                        label.form__label Class
                        select.select-css.task-details(name='class')
                            each classes in user.class
                                option(value= classes.id) #{classes.name}
                    div.select-exercise-type
                        label.form__label Type of exercise
                        select.select-css.task-details(name='exercise')
                            option gapped 
                            option translation
                            option transcription
                    div.set-tasks-button
                         button.btn.btn--green.set-tasks-button-choose-sentences(type="button") Submit
                    div.banner
                div.grid.grid-filters
                    div.select-grammar
                        label.form__label Grammar
                        select.select-css.filter-selector(name="grammar")
                            option=""
                            each value in fieldValues.grammar
                              option= value
                    div.select-vivaRef
                        label.form__label Viva Ref
                        select.select-css.filter-selector(name="vivaRef")
                            option=""
                            each value in fieldValues.vivaRef
                              option= value
                    div.select-tense
                        label.form__label Tense
                        select.select-css.filter-selector(name="tense")
                            option=""
                            each value in fieldValues.tense
                              option= value
                div
                    div.sentence-table-holder
                    div.paging(style="font-size:200%;")
                        a.previous-page <
                        |page: 
                        span.page-num 1
                        =" of "
                        span.max-page-num 1
                        a.next-page >
            +js-value('user', user._id)
