extends ../../base

mixin row(name, completed, due, id, url, collection)
    tr(name=id, collection=collection)
        td.td-left
            a.truncate-text.table--task(href=`/${url}/${id}`) #{name}
            a.delete(data-controller="DeleteTaskController")
        td #{completed}
        td #{due}

block content
    main.main
        div.card
            h2.class-name-heading #{classData.name}
            h2.heading-secondary.ma-bt-md Classcode: #{classData.classCode}
            h2.heading-secondary Tasks set
            table
                thead
                    tr
                        th Task 
                        th Completed 
                        th.td-right Due
                        
                tbody
                    each task in classData.tasks
                        +row(task.name, task.completed, task.dueDate.toDateString(), task.id, 'manage-tasks', 'tasks')
            br
            h2.heading-secondary Students
            table
                thead
                    tr
                        th Name 
                        th  
                        th.td-right
                        
                tbody
                    each student in students
                        +row(student.name, "", "", student.id, 'manage-student', 'users')

