extends ../../base 

mixin row(name, completed, due, percentCorrect, id, url, collection)
    tr(name=id, collection=collection)
        td.td-left
            a.truncate-text.table--task(href=`/${url}/${id}`) #{name}
            a.delete(data-controller="DeleteController")
        td #{completed}
        td #{percentCorrect}
        td #{due}

block content
    main.main
        div.card-container
            h2.heading-secondary #{studentData.name} - #{studentData.class[0].name}
            table
                thead
                    tr
                        th Task 
                        th Completed 
                        th Percent Correct
                        th.td-right Due
                        
                tbody
                    each task in studentTasks
                        +row(task.task[0].name, task.completed, task.task[0].dueDate.toDateString(), task.percentCorrect, task.id, 'manage-tasks', 'studenttasks')
            
    