extends ../base

mixin row(name, exercise, completed, due, id)
    tr  
        td.td-left
            a.truncate-text(href=`/train/${id}`) #{name}
        td #{exercise}
        td #{completed}
        td #{due}

block user-content
    main.main
        div.card-container
            h2.heading-secondary.ma-bt-md My tasks
            div.card
                table
                    thead
                        tr
                            th Task 
                            th Exercise
                            th Completed 
                            th.td-right Due
                            
                    tbody
                        each task in studentTasks
                            +row(task.task[0].name, task.task[0].exercise, task.completed, task.task[0].dueDate.toDateString(), task.id)


                    
        //- button.btn.btn--green.btn-exercise(id='gapped_questions') Gapped questions
        //- button.btn.btn--green.btn-exercise(id='translations') Translations
        //- button.btn.btn--green.btn-exercise(id='transcriptions') Transcription
