extends ../../base

mixin row(name, setclass, completed, due, id)
    tr(name=id)
        td.td-left
            a.truncate-text.table--task(href=`/manage-tasks/${id}`) #{name}
            a.delete(data-controller="DeleteController")
        td #{setclass}
        td #{completed}
        td #{due}

block content
    main.main
        div.card-container
            h2.heading-secondary.ma-bt-md Tasks set
            div.card
                table
                    thead
                        tr
                            th Task 
                            th Class
                            th Completed 
                            th.td-right Due
                            
                    tbody
                        each task in tasks
                            +row(task.name, task.class[0].name, task.completed, task.dueDate.toDateString(), task.id)

